

nav ul 
{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin-left: 800px;
}

nav {
    display: flex;
    margin-left: 10%;
    margin-top: 30px;
}

.navi-txt {
    margin-left: 100px;
    margin-top: 40px;
}
.digmr {
    margin-left: 100px;
    margin-top: 40px;
    
}

.illustration {
    display: flex;
    justify-content:center;

}
.logo
{
    display: flex;
}
.label{
    display: flex;
    margin-left: 40px;
    margin-top: 50px;
}

.atour {
    display: flex;
    justify-content: center;
}